<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/searchpanes/2.1.0/css/searchPanes.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.5.0/css/select.bootstrap5.min.css">


    
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css" rel="stylesheet"> -->


    <title>News Sentiments</title>
    <style>
      .navbar-light .navbar-nav .nav-link {
        color: white;
        font-size: 22px;
      }
      .navbar-light .navbar-brand {
        color: white;
        font-size: 30px;
      }
      body {
        background: linear-gradient(
          90deg,
          rgba(189, 195, 199, 1) 0%,
          rgba(44, 62, 80, 0.8743698162858894) 100%
        );
      }
      #news_results{
        position: relative;
        top: 200px;
      }
      .red{
        color: red;
      }
      .green{
        color: green;
      }
      .neutral{
        color: black;
      }
    </style>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-light bg-light fixed-top bg-transparent"
    >
      <div class="container">
        <a class="navbar-brand fw-bold" href="#">News-Sentiment Analyzer</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About Me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container" id="news_results">
    <table id="example" class="table table-striped" style="width:100%">
      <thead class="table-dark align-middle">
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Source</th>
            <th>Title</th>
            <th>Summary</th>
            <th>Sentiment</th>
            <th>Sentiment Score</th>
            <th>Author</th>
            <th>Web URL</th>
        </tr>
    </thead>
    <tbody>
        {% if d %}  
        {% for i in d %}
          {% if i.sentiment == 'NEGATIVE' %}
            <tr class="red">
          {% elif i.sentiment == 'POSITIVE' %}
            <tr class="green">
          {% else %}
            <tr class="neutral">
          {% endif %}
            <td>{{i.date}}</td>
            <td>{{i.time}}</td>
            <td>{{i.publisher}}</td>
            <td>{{i.title}}</td>
            <td>{{i.description}}</td>
            <td>{{i.sentiment}}</td>
            <td>{{i.confidence}}</td>
            <td>{{i.author}}</td>
            <td><a href="{{i.url}}" target="_blank">Go to {{ i.publisher }} website</a></td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
    </table>
  </div>
    <!-- Optional JavaScript; choose one of the two! -->
    
    
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/searchpanes/2.1.0/js/dataTables.searchPanes.min.js"></script>
    <script src="https://cdn.datatables.net/searchpanes/2.1.0/js/searchPanes.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.5.0/js/dataTables.select.min.js"></script>

    
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script> -->


    <script>
        $(document).ready(function() {
            var table = $('#example').DataTable({
            searchPanes: true
    });
    table.searchPanes.container().prependTo(table.table().container());
    table.searchPanes.resizePanes();
});
    </script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>


